body{
    margin: 0;
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-image: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
